<!DOCTYPE html>

<div class="table_wrap">
    <table>
      <thead>
        <tr>
          <th colspan="5">Applications for Bulb Communications</th>
        </tr>
        <tr>
          <th style="font-weight: 900">no</th>
          <th >Application Name</th>
          <th >Version</th>
          <th>Contents</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      	<% for(var i=0; i<rows.length; i++){%>
        <tr app-no="<%= rows[i].id %>">
        	<td><%= rows[i].id %></td>
        	<td><%= rows[i].name %></td>
        	<td><%= rows[i].version %></td>
        	<td><%= rows[i].memo %></td>
        	<td>
	            <i class="fa fa-pencil button alterar application_edit"></i>
	            <i class="fa fa-trash button excluir application_delete"></i>
          	</td>
        </tr>
        <% } %>
      </tbody>
    </table>
</div>