<!DOCTYPE html>

<style>
.notification_description{
  width: 400px;
  height : 40px;
  margin-top: 15px;
}
.notification_title{
  width: 200px;
  height : 40px;
  margin-top: 15px;
}
.url{
  width : 200px;
}
.param1, .param2{
  width : 35px;
}
</style>


<div class="table_wrap">
    <table>
      <thead>
        <tr>
          <th colspan="11">Send Push Notification</th>
        </tr>
        <tr>
          <th style="font-weight: 900; width:25px;">no</th>
          <th style="width:165px;">Table for Database</th>
          <th style="width:110px;">Target Cnt</th>
          <th style="width:50px;">Icon</th>
          <th style="width:90px;">Checked</th>
          <th style="width:230px;">Title</th>
          <th>Description</th>
          <th style="width:260px;">Link</th>
          <th style="width:60px;">Arg1</th>
          <th style="width:60px;">Arg2</th>
          <th style="width:55px;"></th>
        </tr>
      </thead>
       <tbody>
        <% for(var i=0; i<rows.length; i++){%>
        <tr send-no="<%= rows[i].id %>">
            <td><%= rows[i].id %></td>
            <td><%= rows[i].name %></td>
            <td><%= rows[i].send_count %></td>
            <td>
              <%if(rows[i].image_flag==0){  %>
              <span> Push </span>
              <%}else if(rows[i].image_flag==1){%>
              <span> App </span>
              <%}%>
            </td>
            <td>
              <div>
               <b style="color:#31B404"><%= rows[i].clicked %></b><br />
               <b><%= rows[i].checked %></b>
              </div>
            </td>
            <td>
              <%if(!rows[i].title){  %>
              <span> <textarea class="notification_title" name="title"></textarea> </span>
              <%}else{%>
              <span><%= rows[i].title %></span>
              <%}%>
            </td>
            <td>
              <%if(!rows[i].description){%>
              <span><textarea class="notification_description" name="description"></textarea> </span>
               <%}else{%>
              <span><%= rows[i].description %></span>
              <%}%>
            </td>
            <td>
              <%if(!rows[i].url){%>
              <span><input class="url" name="url" /> </span>
               <%}else{%>
              <span><%= rows[i].url %></span>
              <%}%>
            </td>
             <td>
              <%if(!rows[i].param1){%>
              <span><input class="param1" name="param1" /> </span>
               <%}else{%>
              <span><%= rows[i].param1 %></span>
              <%}%>
            </td>
             <td>
              <%if(!rows[i].param2){%>
              <span><input class="param2" name="param2" /> </span>
               <%}else{%>
              <span><%= rows[i].param2 %></span>
              <%}%>
            </td>
            <td class="function">
              <%if(rows[i].title&&rows[i].description&&rows[i].url&&rows[i].param1&&rows[i].param2){%>
              <i class="fa fa-pencil button alterar notification_change"></i>
              <%}else{%>
              <i class="fa fa-pencil button alterar notification_edit"></i>
              <%}%>
              <i class="fa fa-plane button alterar notification_send"></i>
            </td>
        </tr>
        <% } %>
      </tbody>
    </table>
</div>

<script>

  

$(".notification_edit").live("click", function(){

      var edit_confirm = confirm("변경하시겠습니까 ?");

      if(edit_confirm==true){
        var header_width = $('#header').width();
        var no = $(this).parents("tr").attr('send-no');
        var title = $(this).parents("tr").children('td:eq(5)').children('span').children('.notification_title').val();
        var description = $(this).parents("tr").children('td:eq(6)').children('span').children('.notification_description').val();
        var url = $(this).parents("tr").children('td:eq(7)').children('span').children('.url').val();
        var param1 = $(this).parents("tr").children('td:eq(8)').children('span').children('.param1').val();
        var param2 = $(this).parents("tr").children('td:eq(9)').children('span').children('.param2').val();

        if(title.length > 255){
          alert("제목이 255자가 넘어갑니다. 텍스트 길이를 줄여주세요.");
        }else if(description.length > 255){
          alert("내용이 255자가 넘어갑니다. 텍스트 길이를 줄여주세요.");
        }else if(url.length > 50){
          alert("인자1의 내용이 50자가 넘어갑니다. 텍스트 길이를 줄여주세요.");
        }else if(param1.length > 50){
          alert("인자2의 내용이 50자가 넘어갑니다. 텍스트 길이를 줄여주세요.");
        }else if(param2.length > 50){
          alert("인자3의 내용이 50자가 넘어갑니다. 텍스트 길이를 줄여주세요.");
        }else{
          $.ajax({
            type : "POST",
            url : "/main/admin/notificationEdit",
            data : "no="+no+"&title="+title+"&description="+description+"&url="+url+"&param1="+param1+"&param2="+param2,
            success : function(data){
              if(data.message=="success"){
                alert("Good.");
                $('#content').hide().load("main/admin/send", function(){
                  $('#content').show();
                  $('#content').height('100%');
                  $('#content').width((header_width-232));
                });  
              }else{
                alert("Fail.");
              }
            }
          });
        }
      }
});

$(".notification_change").live("click", function(){

  var title = $(this).parents("tr").children('td:eq(4)').children('span').html();
  var description = $(this).parents("tr").children('td:eq(5)').children('span').html();
  var url = $(this).parents("tr").children('td:eq(6)').children('span').html();
  var param1 = $(this).parents("tr").children('td:eq(7)').children('span').html();
  var param2 = $(this).parents("tr").children('td:eq(8)').children('span').html();

  $(this).parents("tr").children('td:eq(5)').children('span').html("");
  $(this).parents("tr").children('td:eq(6)').children('span').html("");
  $(this).parents("tr").children('td:eq(7)').children('span').html("");
  $(this).parents("tr").children('td:eq(8)').children('span').html("");
  $(this).parents("tr").children('td:eq(9)').children('span').html("");

  var title_textarea = "<textarea class=\"notification_title\" name=\"title\"></textarea>";
  var description_textarea = "<textarea class=\"notification_description\" name=\"description\"></textarea>";
  var url_input = "<input class=\"url\" name=\"url\" />";
  var param1_input = "<input class=\"param1\" name=\"param1\" />";
  var param2_input= "<input class=\"param2\" name=\"param2\" />";

  $(this).parents("tr").children('td:eq(5)').children('span').prepend(title_textarea);
  $(this).parents("tr").children('td:eq(6)').children('span').prepend(description_textarea);
  $(this).parents("tr").children('td:eq(7)').children('span').prepend(url_input);
  $(this).parents("tr").children('td:eq(8)').children('span').prepend(param1_input);
  $(this).parents("tr").children('td:eq(9)').children('span').prepend(param2_input);
  $(this).closest('.notification_change').addClass('notification_edit');
  $(this).closest('.notification_change').removeClass('notification_change');

});

// $(".notification_send").live("click",function(){

//   var send_confirm = confirm("Really?");

//   if(send_confirm==true){
//     var no = $(this).parents("tr").attr('send-no');
//     $.ajax({
//       type : "POST",
//       url : "/main/admin/notifySend",
//       data : "no="+no,
//       success : function(data){
//         if(data.message=="send_all_complete"){
//           alert("Complete.");
//         }
//       }
//     });  
//   }
// });


$(".notification_send").live("click",function(){

  var send_confirm = confirm("Really?");
  var count = 300000;

  if(send_confirm==true){

    var no = $(this).parents("tr").attr('send-no');

    $.ajax({
      type : "POST",
      url : "/main/admin/test",
      data : "no="+no,
      dataType : "JSON",
      success : function(data){
        // console.log(data.slice); // 100000
        // console.log(data.count); // 1403343
        // console.log(data.devided); // 14
        // console.log(data.remainder); // 3343 
        //request(count, (data.slice), no, data.last_id);
        console.log(count);
        // if(count < data.count){
        //   request(count, data.slice, no);
        // }else{
        //   request(count, data.remainder, no);
        // }
        //console.log(checked);
        // if(data.message=="send_all_complete"){
        //   alert("Complete.");
        // }
      }
    });  
  }
});

function request(min, limit, app, count){

  

  console.log("id 시작 지점 : "+min);
  console.log("id 마지막 지점 : "+(min+limit));
  console.log("appication_id : "+app);
  console.log("last_id : "+count);
  console.log("\n");
  //console.log(count);

  $.ajax({
    type : "POST",
    url : "/main/admin/test1",
    data : "min="+min+"&limit="+limit+"&app="+app,
    dataType : "JSON",
    success : function(data){
      checiking(data.min, limit, app, count);
    }
  });

  //min+=(limit);
  //count++;
  //return min;
 
  //checiking(min, limit, app, count);  
}

function checiking(min, limit, app, count){

  //min-=1;
  
  if(min < count){
    request(min, limit, app, count);
  }else{
    alert("complete");
  }
}

</script>









